{% extends "../static/dist/_base.html" %}

{% block body %}
  <header class="header">
    <h1 class="header-title">coquito.io</h1>
    <p class="header-subtitle">A blog by <a href="https://mariopabon.com">Mario Pabon</a> (aka <a href="https://twitter.com/realplatanopapi">@realplatanopapi</a>) on the human aspects of building products.</p>
  </header>
  <ul>
    {% for post in posts %}
      <li>
        <a href="/{{post.slug}}">{{post.meta.title}}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}