{% extends "../static/dist/_base.html" %}

{% block body %}
  <nav class="nav">
    <a class="nav-link" href="/">coquito.io</a>
  </nav>
  <article>
    <header class="post-header">
      <h1 class="post-header-title">{{post.meta.title }}</h1>
      {% if post.meta.subtitle %}
        <p class="post-header-subtitle">{{ post.meta.subtitle }}</p>
      {% endif %}
      <p class="post-header-date">
        <time datetime="{{ post.meta.date }}">{{ post.meta.dateFormatted }}</time>
      </p>
    </header>
    {{post.content|safe}}
  </article>
  <footer>
    <a href="/">View more posts</a>
  </footer>
{% endblock %}