{% extends "../static/dist/_base.html" %}

{% block body %}
  <article>
    <header class="post-header">
      <h1 class="post-header-title">{{post.meta.title }}</h1>
      <p class="post-header-date">
        <time>{{ post.meta.date }}</time>
      </p>
      {% if post.meta.subtitle %}
        <p class="post-header-subtitle">{{ post.meta.subtitle }}</p>
      {% endif %}
    </header>
    {{post.content|safe}}
  </article>
  <footer>
    <a href="/">View more posts</a>
  </footer>
{% endblock %}