:root {
  --mango-red: rgb(255, 75, 50);
  --mango-orange: rgb(255, 200, 0);
  --mango-green: rgb(150, 225, 25);
  --mint-green: rgb(25, 207, 125);
}

::selection {
  background-color: var(--mint-green);
  color: #fff;
  -webkit-text-fill-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
  box-sizing: border-box;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  line-height: 1.618;
}

h1, h2, h3, p {
  margin-bottom: 2rem;
  margin-top: 0;
}

h1, h2, h3 {
  line-height: 1;
}

@keyframes mangoDreams {
  0% {
    background-position: 0vw 50%;
  }

  100% {
    background-position: 200vw 50%;
  }
}

h1 {
  font-size: 2.618em;

  animation: mangoDreams ease-in infinite 20s;
  background-image: linear-gradient(
    to right,
    var(--mango-red),
    var(--mango-orange) 5%,
    var(--mango-green) 30%,
    var(--mango-orange),
    var(--mango-red),
    var(--mango-orange),
    var(--mango-green),
    var(--mango-orange),
    var(--mango-red)
  );
  background-size: 200vw 100%;
  font-style: italic;
  line-height: 1.25;
  padding-bottom: 0.1em;

  /* Enable see-through text so we can see the tasty gradient background */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.618em;
}

h3 {
  font-size: 1.2em;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  margin-top: 1em;
}

li:first-child {
  margin-top: 0;
}

a {
  border-bottom: 1px solid currentColor;
  color: inherit;
  display: inline-block;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  border-bottom-color: var(--mint-green);
  border-bottom-width: 3px;
  padding-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  max-width: 40rem;
  padding: 2rem;
}

.nav {
  margin-bottom: 2rem;
}

.header {
  margin-bottom: 3rem;
}

.header-title,
.header-subtitle {
  margin-bottom: 0;
}

.header-subtitle {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.post-header {
  border-bottom: 1px solid #efefef;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.post-header-title,
.post-header-date,
.post-header-subtitle {
  margin-bottom: 0;
}

.post-header-date {
  margin-top: 1em;
  opacity: 0.5;
}

.post-header-subtitle {
  font-size: 1.2em;
  margin-top: 0.5rem;
}

.post-list {
  list-style-type: none;
}

.post-list-item {
  margin-top: 3em;
}

.post-list-item:first-child {
  margin-top: 0;
}

.post-list-item-link {
  font-size: 1.1em;
}

.post-list-item-date {
  display: block;
  margin-top: 0.5em;
  opacity: 0.5;
}

.post-list-item-subtitle {
  margin-top: 0.5em;
}